<% for attribute in @user.attributes.keys
  .select {|key| !key.to_s.match("password_digest")} %>

  <p>
    <strong><%= attribute %>: </strong>
    <%= @user.attributes[attribute].to_s %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
