<div class="padded-container">
  <h1 class="page_title">Contact Us</h1>
  <p>If you have any feedback, questions or complaints about our services, please contact us directly at:</p>
  <p>TeenServ,Inc. XXX XX Street, Unit XXXX. Toronto, Ontario M5BXXX, email:XXX@xxx.xxx</p>
</div>
