<div class="padded-container">
	<section class="cd-faq">
		<ul class="cd-faq-categories">
			<li><a href="#basics"><font size = "+1">Basics</font></a></li>
			<li><a href="#employers"><font size = "+1">Employers</font></a></li>
			<li><a href="#teenagers"><font size = "+1">Teenagers</font></a></li>
			<li><!-- ... --></li>
		</ul>

		<div class="cd-faq-items">
			<ul id="basics" class="cd-faq-group">
				<li class="cd-faq-title"><h2>Basics</h2></li>
				<li>
					<li style="color:MediumSeaGreen;"> <font size = "+2">Is account registration required?</font></li>
					<div class="cd-faq-content">
						<br>
						Account registration at TeenServ is required for all employers and teenagers.
						This ensures a valid communication channel for all parties involved in any transactions.
						<br>
					</div>
				</li>

				<br>
				<li>
					<li style="color:MediumSeaGreen;"> <font size = "+2">How to create an account?</font></li>
					<div class="cd-faq-content">
						<br>
						Go to the Register page and fill our the register form.
						After creating your account, you can login and start to post/apply jobs. You can also edit or add your personal information in "Profile" Page.
						<br>
					</div>
				</li>

				<li><!-- ... --></li>
			</ul>

			<br>
			<br>
			<ul id="employers" class="cd-faq-group">
				<li class="cd-faq-title"><h2>Employers</h2></li>
				<li>
					<li style="color:MediumSeaGreen;"> <font size = "+2">Who can post jobs? </font></li>
					<div class="cd-faq-content">
						<br>
						Any registed employers with valid payment method supported by TeenServ can post jobs on the "Job" page.
						<br>
					</div>
				</li>

				<br>
				<li>
					<li style="color:MediumSeaGreen;"> <font size = "+2">I want to post a job - what are the steps?</font></li>
					<div class="cd-faq-content">
						<br>
						The steps involved in this process are really simple. All you need to do is:
						<ul>
							<li>1. Register an account.</li>
							<li>2. Login.</li>
							<li>3. Go to the <strong>Jobs</strong> section and and specify detail and requirements for your job.</li>
							<li>4. Applicants will apply for your job and send you notifications, you can then view your applicants' info on your profile page, and accept the who's suitable.</li>
							<li>5. When your job has been completed, the applicant will send you a timesheet that contains payment information such as working hours and hourly wage, you can then make the payment.</li>
						</ul>
						<br>
					</div>
				</li>

				<br>
				<li>
					<li style="color:MediumSeaGreen;"> <font size = "+2">Do I get charged by TeenServ?</font></li>
					<div class="cd-faq-content">
						<br>
						Yes, a small percentage fee will be charged upon making your payment. It will charge 4% on credit card charges (while only having to pay 2%), and additionally 10% on each bill.
						<br>
					</div>
				</li>

				<br>
				<li>
					<li style="color:MediumSeaGreen;"> <font size = "+2">Why post my job here?</font></li>
					<div class="cd-faq-content">
						<br>
						There are a number of reasons why you should join us:
						<ul>
							<li>Large number of active users</li>
							<li>Fast reposnse and convienient to use</li>
						</ul>
					</div>
				</li>

				<br>
				<li>
					<li style="color:MediumSeaGreen;"> <font size = "+2">What are the payment options?</font></li>
					<div class="cd-faq-content">
						<br>
						Credit/Visa via Paypals.
						<br>
					</div>
				</li>

			</ul>

			<br>
			<br>
			<ul id="teenagers" class="cd-faq-group">
				<li class="cd-faq-title"><h2>Teenagers</h2></li>
				<li>
					<li style="color:MediumSeaGreen;"> <font size = "+2">I want to apply for a job, what are the steps?</font></li>
					<div class="cd-faq-content">
						<br>
						Apply a job in TeenServ is really simple.
						<li>1. On the job posting page, you can either filter the type of job you want, or use google map function to search for the jobs nearby you.</li>
						<li>2. Based on the requirements listed on each job posting page, you can choose the suitable jobs and apply. Note that you have a higher chance to be hired if you upload a resume via profile editing button.</li>
						<li>3. Once your application has been approved by the employer, you can show up on the designated location and time to perform your task. </li>
						<li>4. When your job is completed, you will send a timesheet including your total working hours and wage to the employer and receive the your money once payment has been processed. Note that you will require a Paypal registered email address to receive your payments</li>
						<br>
					</div>
				</li>

				<br>
				<li>
					<li style="color:MediumSeaGreen;"> <font size = "+2">How do I know that I got accpeted?</font></li>
					<div class="cd-faq-content">
						<br>
						When an employer has aproved your application, an notification containing the date, location and job description will appear on your profilel page. An email notification will also be sent to you. You simply need to show up to the address on time and start your work.
						<br>
					</div>
				</li>

				<br>
				<li>
					<li style="color:MediumSeaGreen;"> <font size = "+2">When do I get paid and how do I know?</font></li>
					<div class="cd-faq-content">
						<br>
						You can check your transaction history on your profile page. For payments that you should have received will be displayed "Transcation sucessful" on the trasaction status column, while others will be shown as "processing". A remider that you will need to have a Paypal email account to receive the payments properly.
						<br>
					</div>
				</li>

				<li><!-- ... --></li>
			</ul>

			<!-- ... -->
		</div>
	</section>
</div>
