<!DOCTYPE HTML>

<html lang=en>
 <head>
  <meta charset="utf-8" />
  
  <title>TeenServ - Privacy Policy</title>
   
  </head>
  
 <body>

   <header>
    <h1 id = "top">TeenServ - Privacy Policy</h1>
      </header>
    <br>
    <div>
    			<br><div>Effective Date: October 29th, 2017</div><br>
				This privacy notice discloses the privacy practices for TeenServ and our website; https://teen-serv.herokuapp.com/. This privacy notice applies solely to information collected by this website, except where stated otherwise. It will notify you of the following:
				<li> What information we collect; </li>
				<li> With whom it is shared;</li>
				<li> How it can be corrected;</li>
				<li> How it is secured; and</li>
				<li> How policy changes will be communicated</li>
            <br>
	</div> 
  

   <nav>
   	<br>
    <h1 id="contents">Contents</h1>

     <ul>
     <li><a href="#info">Information Collection, Use and Sharing</a>
     	<li>
      </li>
      
     <li><a href="#security">Security</a>
      </li>

     <li><a href="#cookies">Cookies</a>
      </li>

     <li><a href="#updates">Update and Correcting Information</a>
      </li>

     <li><a href="#changes">Notification of Change</a>
     </li>
      
     </ul>
    </nav>
   
   <article>

    <section>

    <br>
     <h1 id="info">Information Collection, Use and Sharing</h1>
     	<div>
			<br>
				<li>
				We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone. 
				</li>
				<li>
				We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g., to notify you home address with teen workers or complete transaction.
				</li>
            <br>
		</div> 

	<br>
      <h1 id="security">Security</h1>
     	<div>
			<br>
				<li>
				We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline. 
				</li>
				<li>
				Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page.
				</li>
				<li>
				While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (e.g. billing or customer service) are granted access to personally identifiable information. The computers/servers on which we store personally identifiable information are kept in a secure environment.
				</li>
            <br>
		</div> 

		 <nav class="to-top"><a href="#top">back to top</a></nav>

		 <br>
      <h1 id="cookies">Cookies</h1>
     	<div>
			<br>
				<li>
				We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site. For instance, when we use a cookie to identify you, you would not have to log in a password more than once, thereby saving time while on our site. Cookies can also enable us to track and target the interests of our users to enhance their experience on our site. Usage of a cookie is in no way linked to any personally identifiable information on our site.
				</li>
            <br>
		</div> 

		<br>
      <h1 id="updates">Updating and Correcting Information</h1>
     	<div>
			<br>
				<li>
				If you need to change your Personal Information, you may update or correct this information by logging into your account and accessing throug the "Profile" section. We encourage you to update your Personal Information promptly if it changes.
				</li>
            <br>
		</div> 


		 <br>
      <h1 id="changes">Notification of Change</h1>
     	<div>
			<br>
				<li>
				We may revise our Privacy Policy from time to time. The most current version of the Privacy Policy will govern our use of your information and will always be located on this webpage. If we make a change to our Privacy Policy that is material, we will notify you either by prominently posting a notice of such changes before implementing the change on the Site and/or via the email associated with your account. By continuing to access the Site and use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.
				</li>
            <br>
		</div> 

		   <nav class="to-top"><a href="#top">back to top</a></nav>

     </section>

     </section>

    </article>

  </body>

 </html>