<div class="padded-container">
<h1 class="page_title">TeenServ - Terms of Service</h1>
<div>
  <br><div>Effective Date: October 29th, 2017</div><br>
  <div>These Terms of Service govern your access to and use of the TeenServ website and any services (the “Services”) offered on the Site. This is a legal agreement between you and TeenServ, Inc.</div><br>

  <div>By clicking the “I Agree” button on the account registration page or by using the Site, you are agreeing that you have read, understand, and agree to be bound by these Terms of Service.</div><br>

  <div><b>IF YOU DO NOT AGREE OR ARE UNABLE TO AGREE BOUND BY THESE TERMS OF SERVICES, DO NOT USE THE SITE OR THE SERVICES.</b></div><br>

  <div>We may modify these Terms of Service from time to time. When changes are made, we will make the revised version available on this webpage, and will indicate at the top of this page the date that revisions were last made. Your use of the Site or the Services after such posting will constitute acceptance by you of such changes.</div><br>

  <div>These Terms of Service are organized into the following sections:</div><br>
  <li><a href="#nature">Nature of Our Site and Services</a></li>
  <li><a href="#use">Use of Site and Services</a></li>
  <li><a href="#user">User Content and Communication Rules and Guidelines</a></li>
  <li><a href="#payment">Payment Policies</a></li>
  <br>
</div>

<article>

  <section>

    <br>
    <h1 id="nature"> Nature of Our Site and Services.</h1>
    <div type = "a">
      <br>
      <li>
        Site is a Venue. The Site provides a venue for teenagers seeking part-time jobs (“Teenagers”) to connect with people who want to provide those job opportunities (“Employers”). TeenServ is not a referral, matching or placement service and does not provide, refer, place, offer or seek to obtain employment or engagements for any of its Users.
      </li><br>
      <li>
        TeenServ has no obligation to screen or verify the identity or background of any User. TeenServ does not screen or verify the training or experience of any of the Teenagers, including any content submitted by a Teenagers or anyone other than TeenServ ("User Content"), including but not limited to User Profiles and Reviews. TeenServ has no control over the accuracy, reliability, completeness or timeliness of Profiles, Reviews, background check information, affiliations or other User Content submitted on the Site, and makes no representations about any such User Content on the Site
      </li><br>
      <li>
        TeenServ further makes no representations about the Teenagers or the Employers. You should make your own assessments of the persons you decide to interact with, engage or provide services to.
      </li><br>
      <li>
        Transactions Are Solely Between Users. WE ARE NOT INVOLVED IN THE TRANSACTIONS BETWEEN TEENAGERS AND EMPLOYERS. Users arrange for the services solely between themselves, and TeenServ is not a party to any of those arrangements. TeenServ does not have control, supervise or provide any training or equipment to the Teenagers, and has no control over the quality, timing, legality, failure to provide, or any other aspect whatsoever of the services provided by Teenagers. Because we are not involved in User-to-User dealings or control the behavior of Users, Users must resolve any issues, disputes or concerns directly with each other, including any issues regarding payments to a Sitter or services received by a Parent. As set forth in Section 15, you agree to release TeenServ from any claims or liability that may arise from any disputes between you and other Users.
      </li><br>
      <li>
        TeenServ is not an employment service and does not serve as an employer of any User. As such, Users are solely responsible (and TeenServ is not responsible), for any tax, withholding or reporting, including, but not limited to, unemployment insurance, social security or payroll withholding tax or income reporting in connection with any services provided by Users. You understand and agree that if TeenServ is found to be liable for any tax, withholding tax or reporting obligation in connection with any services provided or received by you, then you will immediately reimburse and indemnify TeenServ for all costs, expenses and liabilities (including any interest and penalties) relating to the same.
      </li><br>
      <li>
        If requested by TeenServ, you agree to provide TeenServ with such identification documents (including social security numbers, tax ID numbers, copies of passports and driver’s licenses) or other information as may be needed or requested by TeenServ.
      </li>
      <br>
    </div>

    <nav class="to-top"><a href="#top">back to top</a></nav>

    <br>
    <h1 id="use">Use of Site and Services </h1>
    <div>
      <br>
      <li>
        Registration and Account Information. When you register for the Site, you will be asked to create an account and to provide us with certain information about yourself. Your Information will be used in accordance with TeenServ's Privacy Policy. You are responsible for providing accurate, current and complete information in connection with your account registration, including the information provided through any online social platform used to register with the Site.
      </li><br>
      <li>As a User, you are responsible for maintaining the confidentiality of your password and account login, and you are solely responsible for all activities that occur under your password or account. You agree to immediately notify us of any unauthorized use of your password or account.</li><br>
      <li>
        Personal Use Only. Your account is for your own personal use, and you may not permit anyone else to use your account. The Site is intended to be used by people who want to find, select, review and connect with other Users so they can receive, provide or share information about, child care services. Any use of this Site for any other purpose, (including but not limited to using the Site or information obtained from the Site to solicit, advertise to or contact Users for any other purpose) is prohibited.
      </li><br>
      <li>
        Use of Other Users' Personal Information. You may from time to time receive personal information of another User. For example, upon confirmation of a booking, Users will be provided with each other’s contact information. Any personal information you receive may only be used for the specific purpose it was provided to you in connection with the Site and the Services. Teenagers may not contact Employers, and Employers may not contact Teenagers, for any purpose other than asking a question, providing information, or making arrangements related to performing posted jobs on the Site.
      </li><br>
      <li>
        Privacy Policy. You represent that you have read and understood our Privacy Policy.
      </li><br>
      <br>
    </div>

    <nav class="to-top"><a href="#top">back to top</a></nav>

    <br>
    <h1 id="user">User Content and Communication Rules and Guidelines</h1>
    <div>
      <br>
      <li>
        As a User of the Site, you may have the opportunity to post or transmit User Content, such as User profiles (“Profiles”), reviews of Teenagers (“Reviews”), and messages to other Users or on group forums. You are solely responsible for any User Content you post on the Site or transmit to other Users, and once posted or transmitted, cannot always be withdrawn.
      </li><br>

      <li>
        If you need to change your Personal Information, you may update or correct this information by logging into your account and accessing throug the "Profile" section. We encourage you to update your Personal Information promptly if it changes.
      </li><br>
      <li>
        Content and Communication Restrictions. You will not post on the Site, transmit to other Users, communicate any content (including links to content), or otherwise engage in any activity on the Site or through the Services, that:
        <ol type="i">
          <li>i. contains photographs or images of another person, unless you are that person’s parent or legal guardian;</li>
          <li>ii.	contains others’ copyrighted content unless you have written permission from the copyright owner;</li>
          <li>iii. contains or discloses another person’s personal information without his or her written permission, or collects or solicits another person’s personal information for commercial or unlawful purposes;</li>
          <li>iv. implies that the User Content is in any way endorsed or sponsored by TeenServ;</li>
          <li>v. is implicitly or explicitly offensive, such as User Content that engages in, endorses or promotes racism, bigotry, discrimination, hatred or physical harm of any kind;</li>
          <li>vi. is intended to harass, annoy, threaten or intimidate any other Users of the Site;</li>
          <li>vii. is false, misleading, defamatory, inaccurate, abusive, obscene, profane, sexually oriented, or otherwise objectionable;</li>
          <li>viii. involves the transmission of junk mail, chain letters, or unsolicited mass mailing or spamming, phishing, trolling or other similar activities;</li>
          <li>ix. contains any malware (including but not limited to viruses, time bombs, trojan horses, cancelbots, worms or other harmful, or disruptive codes, components or devices);</li>
          <li>x. uses scripts, bots or other automated technology to access the Site;</li>
          <li>xi. attempts to circumvent TeenServ’s messaging tools or booking platform, or attempts to avoid applicable TeenServ fees;</li>
          <li>xii. otherwise violates (A) the rights of third parties, including rights of privacy or publicity, or (B) violates applicable laws and regulations.</li>
        </ol>

      </li>
      <br>
    </div>


    <nav class="to-top"><a href="#top">back to top</a></nav>

    <h1 id="payment">Payment Policies</h1>
    <div>
      <br>
      <li>
        Where indicated on the Site, fees are charged to access and use certain Services on the Site. Users who use these fee-based Services agree to pay TeenServ the applicable fees then in effect. In addition, Users authorize TeenServ to charge their chosen payment provider for use of the Site. TeenServ reserves the right to correct any errors or mistakes that it makes, even if it has already requested or received payment. All fees and charges are nonrefundable and there are no refunds or credits once your account has been billed.
      </li><br>
      <li>
        Payment Information. If you use TeenServ's Online Payment Service or otherwise use any of TeenServ's fee-based Services, you agree to TeenServ storing your payment card information. Users are responsible for maintaining current and accurate payment card information associated with their accounts. Without limiting Section 5.a., TeenServ may terminate a User’s account if the User’s payment card information is expired or is otherwise invalid.
      </li><br>
      <br>
    </div>
  </section>
</article>
</div>
