/*
Eric Meyer CSS Reset. TeenServ styling below.
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/





html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
	height:100%;
}
body {
	min-height:100%;
	position:relative;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***
* Begin TeenServ Styling
*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	background: #e2e2e2;
	padding-bottom: 50px;
}
strong {
	font-weight: bold;
}
/* Keep everything under X px wide, center with margin*/
.container {
	max-width: 1250px;
	margin: 0 auto;
}
.padded-container {
	padding: 50px; /* need some padding on most pagges */
	position: relative;
}
.padded-container:after {
	/* clearfix for floated child divs */
	/* Ensures padded-container wraps around left-panel and right-panel. */
  content: '';
  clear: both;
  display: table;
}
/*
Remove underline front links and replace with border-bottom
*/
a {
	text-decoration: none;
	border-bottom: 1px solid #03A9F4;
	border-bottom: 1px solid var(--primary);
	padding: 0 2px;
	color: #03A9F4;
	color: var(--primary);
	transition: color ease .2s, border ease .2s;
}
a:hover {
	color: #1CB4F9;
	color: var(--light-primary);
	border-bottom: 1px solid #1CB4F9;
	border-bottom: 1px solid var(--light-primary);
}
/**
Header style
*/
:root {
	/* Only good on modern browsers, fallback with real px value in late production. */
	/* If you change these, change all corresponding falllback valees in sheet */
	--dark-primary: #0288D1;
	--light-primary: #1CB4F9;
	--primary: #03A9F4;
	--accent-color: #FF5722;
	--dark-accent: #DE4E00;
	--light-accent: #FD6434;
	--highlight-blue: #25c0f7;
	--divider-color: #BDBDBD;
	--border-color: #EFEFEF;
	--secondary-text: #757575;
	--primary-text: #212121;
	--light-text: #FFFFFF;
	--background-color: #FFFFFF;
}
header {
	background: #fff; /* fallback */
	background: var(--background-color);
	padding-left: 15px;
	color: #212121;
	color: var(--primary-text);
	border-bottom: 2px solid #efefef; /* fallback */
	border-bottom: 2px solid var(--border-color);
	height: 60px;
	position: relative;
}
header h1 {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 2em;
	font-weight: 600;
	letter-spacing: .05em;
}
header a {
	border: 0;
	padding: 0;
}
header a:hover {
	border: 0;
}
header a#logo {
	line-height: 60px;
	text-decoration: none;
	color: #212121;
	color: var(--primary-text);
}

header #nav {
	float: right;
	display:flex;
}
header #dropdown_container {
	float: right;
}
#dropdown_container #menu_toggle {
	display: none;
}
header #nav li {
	width: 120px;
}
header #nav li a {
	text-decoration: none;
	display: block;
	color: #212121;
	color: var(--primary-text);
	line-height: 60px;
	text-align: center;
	transition: background ease .2s;
}
header #nav li i {
	padding-right: 10px;
}
header #nav li a:hover {
	background: #efefef;
	border: 0;
}
/*
Footer style
*/
.footer{
	background: #fff;
	padding-left: 15px;
	color: #232323;
	position: absolute;
	text-align:center;
	border-top: 2px solid #efefef;
	border-top: 2px solid var(--border-color);
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.footer a {
	padding: 10px 20px 10px 0;
	text-decoration: none;
	display: inline-block;
	color: #212121;
	color: var(--primary-text);
	border-bottom: 0;
	font-size: .8em;
}
.footer a:hover{
	text-decoration: underline;
}
.messages{
	max-height: 400px;
	overflow-y: auto;
	margin-bottom: 1em;
	margin-top: 1em;
}
/**
Notifications
*/
#notifications {
	position: absolute;
	top: 62px;
	right: 0;
	width: 30%;
}
.flash {
	text-align: center;
	background: #333;
	color: #fff;
	color: var(--light-text);
	padding: 13px;
	float: right;
	z-index: 100;
	width: 100%;
	margin: 10px;
	margin-bottom: 0;
	-webkit-animation: seconds 1.0s forwards;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-delay: 5s;
	animation: seconds 1.0s forwards;
	animation-iteration-count: 1;
	animation-delay: 5s;
}
.flash.danger {
	border: 1px solid #bb3434;
	background: #d63636;
}

.flash.notice {
	border: 1px solid #0288D1;
	border: 1px solid var(--dark-primary);
	background: #03A9F4;
	background: var(--primary);
}
/* CSS animation to hide notifications after 5 seconds */
@-webkit-keyframes seconds {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		left: -9999px;
	}
}
@keyframes seconds {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		left: -9999px;
	}
}
/**
Main content
*/
#main_content {
	background: #fff;
	border: 2px solid #ccc;
	border-top: none;
	padding: 0;
	line-height: 1.3em;
	font-size: 1em;
}
#main_content h1,
#main_content h2,
#main_content h3,
#main_content h4,
#main_content h5 {
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: 600;
	text-align: center;
}
#main_content h1 {
	font-size: 1.5em;
	margin-bottom: 20px;
}
#main_content h2 {
	font-size: 1.5em;
	margin-bottom: 20px;
}
#main_content .page_title {
	padding-top: 10px;
	padding-bottom: 20px;
}
/*
table styles
*/
#main_content table {
	border: 2px solid #dadada;
	display: block;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 100vw;
    font-size: .8em;
}
#main_content th {
	min-width: 100px;
	background: #03A9F4;
	background: var(--primary);
	color: #fff;
	color: var(--light-text);
	padding: 10px;
	border: 1px solid #0288D1;
	border: 1px solid var(--dark-primary);
}
#main_content tr:nth-child(even) {
	background: #ffffff;
}
#main_content tr {
	background: #efefef;
}
#main_content td {
	padding: 10px;
	border: 1px solid #f6f6f6;
}
/*
Forms
*/
form {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	display: block;
	padding: 20px;
}
form .field {
	margin: 20px 0;
}
form input[type="email"],
form input[type="password"],
form input[type="text"],
form input[type="datetime-local"],
form input[type="number"] {
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 5px 10px;
	width: 100%;
}
form input[readonly="readonly"] {
	background: #eee;
	color: #999;
}
form input[type="submit"] {
	transition: background ease .3s;
	background: #03A9F4;
	background: var(--primary);
	border: 1px solid #0288D1;
	border: 1px solid var(--dark-primary);
	border-radius: 3px;
	padding: 10px 30px;
	color: #fff;
	color: var(--light-text);
	cursor: pointer;
	margin: 0 auto;
	display: block;
}
form input[type="submit"]:hover {
	background: #1CB4F9;
	background: var(--light-primary);
}
/**
* Search Form
*/
#main_content .search {
	max-width: 800px;
	padding: 0;
	margin: 50px auto;
}
.search input[type="text"] {
	width: 80%;
	float: left;
	padding: 10px;
	border-radous: 5px 0 0 5px;
}
.search input[type="submit"] {
	width: 20%;
	border-radius: 0 5px 5px 0px;
	margin: 0;
	padding: 10px 0;
	border-left: none;
}
/*
Features
*/
#eyecatch {
	background: #ffffff;
	color: #2d2d2d;
	padding-top: 80px;
	padding-bottom: 20px;
}
#eyecatch h3, #eyecatch h1 {
	text-align: left;
	margin: 10px 20%;
	text-transform: initial;
}
#eyecatch h1 {
	line-height: 30px;
	margin-top: 60px;
}
#eyecatch > h4 {
	font-weight: 500;
	font-size: .6em;
	margin-top: -50px;
}
#eyecatch h3 {
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 60px;
}
#features {
	padding-top: 70px;
	padding-bottom: 50px;
	max-width: 1000px;
	margin: 0 auto;
}
#features:after {
	content: '';
	display: table;
	clear: both;
}
#features a {
	box-sizing: content-box;
	background: #21a9f4;
	background: var(--primary);
	border: none;
	float: left;
	width: 33.33%;
	padding: 50px 0;
	font-size: .9em;
	text-decoration: none;
	color: #ffffff;
	position: relative;
}
#features a:nth-child(2) {
	margin-top: -10px;
	z-index: 1;
}
#features a:nth-child(3){
	background: #22a4ec;
	margin-left: -10px;
	padding-left: 10px;
	z-index: 0;
}
#features a:nth-child(1){
	background: #22a4ec;
	margin-right: -10px;
	padding-right: 10px;
	z-index: 0;
}
#features a:nth-child(3) p:after {
  	content: '';
	display: block;
	border-color: transparent transparent transparent #1f8ac5;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 0;
}
#features a:nth-child(1) p:after {
  	content: '';
	display: block;
	border-color: transparent #1f8ac5 transparent transparent;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 0;
}
#features a i {
	margin: 10px auto;
	display: block;
	font-size: 5em;
}
#features a:hover {
	color: #fff;
	border: none;
}
.feature:first-child {
	margin-left: 5%;
}
.feature h4 {
	text-align: center;
}
.feature p {
	text-align: center;
	margin-bottom: 20px;
}
/*
sections
*/
.section {
	padding: 5%;
	background: #fff;
}
.section:nth-child(odd) {
	background: #efefef;
}
.section .clip {
	float: left;
	width: 30%;
	height: 200px;
	overflow: hidden;
	margin: 0;
	margin-right: 5%;
}
.section:after {
	content: "";
	clear: both;
	display: table;
}
.section img {
	height: 100%;
}
.section:nth-child(even) .clip {
	float: right;
	margin: 0;
	margin-left: 5%;
}
.section p {
	font-weight: 300;
}
#sections .section h4 {
	text-align: left;
	margin-bottom: 15px;
}
/*
User page styles
*/
#photo_container {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 2px solid #efefef;
	overflow: hidden;
}
#photo_container img {
	width: 100%;
}
/*
user block style
*/
.user_container {
	box-sizing: border-box;
	width: 50%;
	float: left;
	overflow: hidden;
	padding: 10px;
	margin: 0;
	border: 1px solid #dcdcdc;
}
.user_container:nth-child(even) {
	background: #ececec;
}
.user_container:nth-child(odd) {
	background: #efefef;
	border-left: 0;
}
.user_container a {
	border: 0;
}
.user_container a:hover {
	border: 0;
}
.user_container span {

}
.user_container .user_photo img {
	width: 50px;
	height: 50px;
	float: left;
	border: 1px solid #dcdcdc;
}
.user_container .user_photo {
	border: none;
}
.user_container .username {
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid #e0e0e0;
	color: #4a4a4a;
	width: 100%;
}
.user_container .name {
	color: #000;
	padding-left: 15px;
	border: none;
	line-height: 48px;
}
.user_container div {
	float: right;
}
.user_container div a {
	margin: 10px 0;
	text-align: center;
	line-height: 30px;
	width: 40px;
	font-size: .8em;
	border-radius: 3px;
	margin-right: 10px;
	color: #fff;
	display: inline-block;
	transition: background ease .2s;
}
.user_container div a {
	text-align: center;
	line-height: 30px;
	width: 40px;
	font-size: .8em;
	border-radius: 3px;
	margin-right: 10px;
	color: #fff;
	display: inline-block;
	transition: background ease .2s;
}
.user_container .edit a {
	background: #03A9F4;
	background: var(--primary);
	border: 1px solid #0288D1;
	border: 1px solid var(--dark-primary);
}
.user_container .delete a {
	background: #5f5f5f;
	border: 1px solid #313131;
}
.user_container .edit a:hover {
	background: #1CB4F9;
	background: var(--light-primary);
}
.user_container .delete a:hover {
	background: #676767;
}
.user_container .edit a:active {
	background: #0288D1;
	background: var(--dark-primary);
}
.user_container .delete a:active {
	background: #505050;
}
/*
job block style
*/
.job_container {
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
	padding: 10px;
	margin: 0;
	position: relative;
}
.job_container:nth-child(even) {
	background: #f1f1f1;
}
.job_container:nth-child(odd) {
	background: #efefef;
}
.job_container a {
	border: 0;
}
.job_container a:hover {
	border: 0;
}
.job_container span {
	border-left: 1px solid #d6d6d6;
	padding: 0 10px;
	line-height: 48px;
}
.job_container .username {
	font-size: .8em;
}
.job_container .title {
    font-size: 1em;
	color: #000;
	border: none;
	line-height: 48px;
}
.job_container .work_date, .job_container .response_deadline {
	font-size: .7em;
	color: #6f6f6f;
	line-height: 48px;
}
.job_container .hourly_pay, .job_container .type_of_service {
	color: #404040;
	font-size: .7em;
}
.job_container .description {
	display: block;
	width: 70%;
	border: none;
	font-size: .9em;
	font-weight: 300;
}
.job_container .view_job {
    border: none;
    font-size: .7em;
    margin-top: 15px;
    display: inline-block;
}
.job_container div {
	float: right;
}
.job_container div a {
	text-align: center;
	line-height: 30px;
	width: 40px;
	font-size: .8em;
	border-radius: 3px;
	margin-right: 10px;
	color: #fff;
	display: inline-block;
	transition: background ease .2s;
}
.job_container .edit a {
	margin: 0;
	background: #03A9F4;
	background: var(--primary);
	border: 1px solid #0288D1;
	border: 1px solid var(--dark-primary);
}
.job_container .delete a {
	background: #5f5f5f;
	border: 1px solid #313131;
}
.job_container .edit a:hover {
	background: #1CB4F9;
	background: var(--light-primary);
}
.job_container .delete a:hover {
	background: #676767;
}
.job_container .edit a:active {
	background: #0288D1;
	background: var(--dark-primary);
}
.job_container .delete a:active {
	background: #505050;
}
/*
gmaps
*/
.gmap {
    width: 100%;
}
#map {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}
/*
 Split Panels
 */
.right-panel, .left-panel {
 box-sizing: border-box; /* Include padding and border in width */
 float: left;
}
.right-panel {
  width: 70%;
  border-left: 2px solid #efefef;
  padding-left: 30px;
}
#main_content .right-panel h4 {
  text-align: left;
  margin: 5px 0;
  margin-top: 20px;
}

.left-panel {
  float: left;
  width: 30%;
}
/*
Admin Styles
*/
.model_data_block {
	background: #c5c5c5;
	border-top: 2px solid #ccc;
	color: #000;
	padding: 20px;
	border-radius: 0px;
	margin-top: 150px;
}
.edit_link {
	float: right;
	font-size: 1.1em;
}
.resume_link {
	float: right;
	font-size: 1.1em;
}
h3.table_title {
	border-top: 1px solid #ccc;
	padding-top: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
}
/**
* Add Button Style
*/
.add_button {
	transition: background ease .2s,
	border ease .2s;
	float: right;
	position: absolute;
	top: 20px; left: 20px;
	display: inline-block;
	border-bottom: none;
	background: #03A9F4;
	background: var(--primary);
	border: 1px solid #0288D1;
	border: 1px solid var(--dark-primary);
	border-radius: 2px;
	color: #fff;
	padding: 15px 20px;
}
.add_button .fa {
	padding-right: 20px;
}
.add_button:hover {
	color: #fff;
	background: #1CB4F9;
	background: var(--light-primary);
	border: 1px solid #0288D1;
	border: 1px solid var(--dark-primary);
}
.add_button:active {
	background: #0288D1;
	background: var(--dark-primary);
}
/**
* Edit Button Style
*/
.edit_button {
	transition: background ease .2s,
	border ease .2s;
	position: absolute;
	top: 20px; right: 20px;
	display: inline-block;
	border-bottom: none;
	background: #03A9F4;
	background: var(--primary);
	border: 1px solid #0288D1;
	border: 1px solid var(--dark-primary);
	border-radius: 2px;
	color: #fff;
	padding: 15px 20px;
}
.edit_button .fa {
	padding-right: 20px;
}
.edit_button:hover {
	color: #fff;
	background: #1CB4F9;
	background: var(--light-primary);
	border: 1px solid #0288D1;
	border: 1px solid var(--dark-primary);
}
.edit_button:active {
	background: #0288D1;
	background: var(--dark-primary);
}
/**
* Filter Button styles
*/
.hidden {
	display:none;
}
.filter_button {
	cursor: pointer;
	transition: background ease .2s,
	border ease .2s;
	position: absolute;
	top: 20px; right: 20px;
	display: inline-block;
	border-bottom: none;
	background: #03A9F4;
	background: var(--primary);
	border: 1px solid #0288D1;
	border: 1px solid var(--dark-primary);
	border-radius: 2px;
	color: #fff;
	padding: 15px 20px;
}
.filter_button .fa {
	padding-right: 20px;
}
.filter_button:hover {
	color: #fff;
	background: #1CB4F9;
	background: var(--light-primary);
	border: 1px solid #0288D1;
	border: 1px solid var(--dark-primary);
}
.filter_button:active {
	background: #0288D1;
	background: var(--dark-primary);
}
/*
timesheet
*/
.timesheet_button {
		cursor: pointer;
		transition: background ease .2s,
		border ease .2s;
		display: inline-block;
		border-bottom: none;
		background: #03A9F4;
		background: var(--primary);
		border: 1px solid #0288D1;
		border: 1px solid var(--dark-primary);
		border-radius: 2px;
		color: #fff;
		padding: 5px 5px;
}
.timesheet_button .fa {
	padding-right: 20px;
}
.timesheet_button:hover {
	color: #fff;
	background: #1CB4F9;
	background: var(--light-primary);
	border: 1px solid #0288D1;
	border: 1px solid var(--dark-primary);
}
.timesheet_button:active {
	background: #0288D1;
	background: var(--dark-primary);
}
/*
paypal email script
*/
#paypal_email.field {
	display:none;
}
/*
gmaps
*/
.gmap {
    width: 100%;
}
#map {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}
/*
 Split Panels
 */
.right-panel, .left-panel {
 box-sizing: border-box; /* Include padding and border in width */
 float: left;
}
.right-panel {
  width: 70%;
  border-left: 2px solid #efefef;
  padding-left: 30px;
}
#main_content .right-panel h4 {
  text-align: left;
  margin: 5px 0;
  margin-top: 20px;
}

.left-panel {
  float: left;
  width: 30%;
}
/*
Upvote Downvote
*/
.vote {
	padding-top: 10px;
}
.vote #downvote, .vote #upvote {
  color: #2d2d2d;
  background: #f1f1f1;
  padding: 5px 20px;
  margin: 5px;
  border: 1px solid #efefef;
  border: 1px solid var(--border-color);
  border-bottom:1px solid #1f2c31;
}
.vote #downvote:hover, .vote #upvote:hover {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-bottom: 1px solid #03A9F4;
  border-bottom: 1px solid var(--primary);
}
.vote #downvote:active, .vote #upvote:active {
  background: #efefef;
}
/*
Admin Styles
*/
.model_data_block {
	background: #c5c5c5;
	border-top: 2px solid #ccc;
	color: #000;
	padding: 20px;
	border-radius: 0px;
	margin-top: 150px;
}
.edit_link {
	float: right;
	font-size: 1.1em;
}
.resume_link {
	float: right;
	font-size: 1.1em;
}
@media (max-width:1281px) { /* hi-res laptops and desktops */ }
@media (max-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    body {
    	font-size: .9em;
    }
    #eyecatch h1 , #eyecatch h3 {
    	margin: 0 100px;
    }
	#eyecatch h1 {
		font-weight: 500;
		font-size: 1.7em;
	}
	#eyecatch h3 {
		margin-top: 40px;
		font-weight: 300;
		font-size: 1.2em;
	}
    #features {
    	flex-direction: column;
    }
    #features a {
    	max-width: 100%;
    	margin: 1%;
    }


}
@media (max-width:650px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
	#dropdown_container #nav {
		width: 60vw;
		flex-direction: column;
		position: absolute;
		top: 62px;
		right: 0;
        z-index: 10;
		height: auto;
		background: #f0f0f0;
	}
	#dropdown_container #menu_toggle {
		display: block;
		width: 100px;
		color: #212121;
		color: var(--primary-text);
		line-height: 60px;
		text-align: center;
		transition: background ease .2s;
		cursor: pointer;
		position: absolute;
		right: 0;
	}
	#dropdown_container #menu_toggle:hover {
		background: #efefef;
		border: 0;
	}
	#dropdown_container #menu_toggle {
		padding: 0;
		z-index: 10;
	}
	#dropdown_container:hover #nav li a {
		display: block;
		width: 100%;
	}
	#dropdown_container #nav li {
		width: 100%;
	}
	header #nav li a {
		display: none;
	}
}
@media (max-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (max-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

}
