/*
   Eric Meyer CSS Reset. TeenServ styling below.
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/











html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
	height:100%;
}
body {
	min-height:100%;
	position:relative;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***
* Begin TeenServ Styling
*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}
/* Keep everything under X px wide, center with margin*/
.container {
  max-width: 1250px;
  margin: 0 auto;
}
/*
Remove underline front links and replace with border-bottom
*/
a {
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px solid #17b0e6;
	padding: 0 2px;
	color: #17b0e6;
	color: var(--blue);
	transition: color ease .2s, border ease .2s;
}
a:hover {
	color: #25c0f7;
	color: var(--highlight-blue);
	border-bottom: 1px solid #17b0e6;
	border-bottom: 1px solid var(--highlight-blue);
}
/**
Header style
*/
:root {
  /* Only good on modern browsers, fallback with real px value in late production. */
  --header-height: 60px;
  --blue: #17b0e6;
  --highlight-blue: #25c0f7;
}
header {
  background: #fff;
  padding-left: 15px;
  color: #232323;
  border-bottom: 2px solid #efefef;
  height: 60px; /* fallback */
  height: var(--header-height);
  position: relative;
}
header h1 {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: .05em;
}
header a {
	border: 0;
	padding: 0;
}
header a:hover {
	border: 0;
}
header a#logo {
  line-height: 60px;
  line-height: var(--header-height);
  text-decoration: none;
  color: #333;
}

header #nav {
  float: right;
  display:flex;
}
header #nav li {
  width: 120px;
}
header #nav li a {
  text-decoration: none;
  display: block;
  color: #333;
  line-height: 60px;
  line-height: var(--header-height);
  text-align: center;
  transition: background ease .2s;
}
header #nav li i {
	padding-right: 10px;
}
header #nav li a:hover {
  background: #efefef;
	border: 0;
}
/*
Footer style
*/
.footer{
	background: #fff;
	padding-left: 15px;
	color: #232323;
	position: absolute;
	text-align:center;
	border-top: 2px solid #efefef;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.footer a{
	padding: 10px 20px 10px 0;
	text-decoration: none;
	display: inline-block;
	color: #333;
	border-bottom: 0;
}
.footer a:hover{
	text-decoration: underline;
}
/**
Notifications
*/
.flash {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 10px;

  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 5s;
  position: relative;
}
.flash.danger {
  background: #d63636;
}

.flash.notice {
  background: #17b0e6;
}
/* CSS animation to hide notifications after 5 seconds */
@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
  }
}
/**
Main content
*/
#main_content {
  padding: 50px;
  line-height: 1.3em;
  font-size: 1em;
	position: relative;
}
#main_content h1,
#main_content h2,
#main_content h3,
#main_content h4,
#main_content h5 {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 600;
  text-align: center;
}
#main_content h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}
#main_content h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}
/*
table styles
*/
#main_content table {
  width:100%;
}
#main_content th {
  background: #f8f8f8;
  padding: 10px;
  border: 1px solid #f6f6f6;
  border-bottom: none;
}
#main_content tr:nth-child(even) {
  background: #f6f6f6;
}
#main_content tr {
  background: #f8f8f8;
}
#main_content td {
  padding: 10px;
  border: 1px solid #f6f6f6;
}
/*
Forms
*/
form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
    padding: 20px;
}
form .field {
    margin: 20px 0;
}
form input[type="email"],
form input[type="password"],
form input[type="text"],
form input[type="datetime-local"],
form input[type="number"] {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px 10px;
    width: 100%;
}
form input[readonly="readonly"] {
    background: #eee;
    color: #999;
}
form input[type="submit"] {
    transition: background ease .3s;
    background: #17b0e6;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 30px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}
form input[type="submit"]:hover {
    background: #25c0f7;
}
/*
Features
*/
div#eyecatch {
    color: #fff;
    padding: 20px 0;
    margin-bottom: 20px;
}
#features:after {
    content: '';
    display: table;
    clear: both;
}
#features {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}
#features:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 350px;
  width: 100%;
  background: #60c9f2; /* Old browsers */
  background: -moz-linear-gradient(left, #60c9f2 0%, #ff9be9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #60c9f2 0%,#ff9be9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #60c9f2 0%,#ff9be9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60c9f2', endColorstr='#ff9be9',GradientType=1 ); /* IE6-9 */
  z-index: -1;
}
#features a {
	border: 2px solid #efefef;
    flex: 1; /*grow*/
    max-width: 25%;
    border-radius: 10px;
    padding: 0 2%;
    text-decoration: none;
    color: #fff;
}
.feature:first-child {
  margin-left: 5%;
}
.feature h4 {
  text-align: center;
  margin-top: 30px;
}
.feature p {
  text-align: center;
  margin-bottom: 20px;
}
/*
sections
*/
#sections {}
.section {
	padding: 5%;
}
.section:nth-child(odd) {
    background: #efefef;
}
.section .clip {
	float: left;
    width: 30%;
    height: 200px;
    overflow: hidden;
    margin: 0;
    margin-right: 5%;
}
.section:after {
	content: "";
	clear: both;
	display: table;
}
.section img {
    height: 100%;
}
.section:nth-child(even) .clip {
    float: right;
    margin: 0;
    margin-left: 5%;
}
.section p {

}
#sections .section h4 {
	text-align: left;
	margin-bottom: 15px;
}
/*
User page styles
*/
#photo_container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #efefef;
    overflow: hidden;
}
#photo_container img {
    width: 100%;
}
/*
user block style
*/
.user_container {
    width: 100%;
    overflow: hidden;
    padding: 10px;
}
.user_container:nth-child(even) {
    background: #f7f7f7;
}
.user_container:nth-child(odd) {
    background: #efefef;
}
.user_container a {
    border: 0;
}
.user_container a:hover {
    border: 0;
}
.user_container .user_photo img {
    width: 50px;
    height: 50px;
    float: left;
}
.user_container .username {
    font-size: 1.5em;
    color: #333;
    padding-left: 10px;
    line-height: 48px;
}
.user_container .user_type {
    color: #555;
    padding-left: 5px;
}
.user_container button {
    background: none;
    border: 0;
    float: right;
    margin: 0;
    padding: 0;
}
.user_container button:first-child {
    margin: 0;
}
.user_container button a {
    line-height: 50px;
    width: 50px;
    margin-right: 10px;
    color: #fff;
    background: var(--blue);
}
.user_container .edit a {
    margin: 0;
}
.user_container .delete a {
    background: #e61818;
}
/*
Admin Styles
*/
.model_data_block {
    background: #60c9f2;
    color: #000;
    padding: 20px;
    border-radius: 0px;
    margin-top: 150px;
}
.edit_link {
    float: right;
    font-size: 1.1em;
}
