/* 
   Eric Meyer CSS Reset. TeenServ styling below.
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/







html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***
* Begin TeenServ Styling
*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}
/* Keep everything under X px wide, center with margin*/
.container {
  max-width: 1250px;
  margin: 0 auto;
}
/**
Header style
*/
:root {
  /* Only good on modern browsers, fallback with real px value in late production. */  
  --header-height: 60px;
}
header {
  background: #fff;
  padding-left: 15px;
  color: #fff232323;
  border-bottom: 2px solid #efefef;
  height: 60px; /* fallback */
  height: var(--header-height);
  position: relative;
}
header h1 {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: .05em; 
}
header a#logo {
  line-height: 60px;
  line-height: var(--header-height);
  text-decoration: none;
  color: #333;
}

header #nav {
  float: right;
  display:flex;
}
header #nav li {
  width: 120px;
}
header #nav li a {
  text-decoration: none;
  display: block;
  color: #333;
  line-height: 60px;
  line-height: var(--header-height);
  text-align: center;
  transition: background ease .2s;
}
header #nav li i {
	padding-right: 10px;
}
header #nav li a:hover {
  background: #efefef;
}
/**
Notifications
*/
.flash {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 10px;
  
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 5s;
  position: relative;
}
.flash.danger {
  background: #d63636;
}

.flash.notice {
  background: #17b0e6;
}
/* CSS animation to hide notifications after 5 seconds */
@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}
/**
Main content
*/
#main_content {
  padding: 50px;
  line-height: 1.3em;
  font-size: 1em;
}
#main_content h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}



